//  .██████╗.██╗......██████╗.██████╗..█████╗.██╗.....███████╗███████╗
//  ██╔════╝.██║.....██╔═══██╗██╔══██╗██╔══██╗██║.....██╔════╝██╔════╝
//  ██║..███╗██║.....██║...██║██████╔╝███████║██║.....█████╗..███████╗
//  ██║...██║██║.....██║...██║██╔══██╗██╔══██║██║.....██╔══╝..╚════██║
//  ╚██████╔╝███████╗╚██████╔╝██████╔╝██║..██║███████╗███████╗███████║
//  .╚═════╝.╚══════╝.╚═════╝.╚═════╝.╚═╝..╚═╝╚══════╝╚══════╝╚══════╝
//  ..................................................................

// colores de fonto
$color-background: #C4F3E5;
$color-secondary: #2D7F85;

// colores de texto
$color-text: #06050F;
$color-white: #FFFFFF;

//tipografía
$font-body: "Roboto Condensed", sans-serif;
$font-title: "Sriracha", cursive;

//tamaños de texto
$base-size: 34px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

