//  ██╗...██╗██╗.██████╗.██╗.....███████╗████████╗.█████╗.
//  ██║...██║██║██╔═══██╗██║.....██╔════╝╚══██╔══╝██╔══██╗
//  ██║...██║██║██║...██║██║.....█████╗.....██║...███████║
//  ╚██╗.██╔╝██║██║...██║██║.....██╔══╝.....██║...██╔══██║
//  .╚████╔╝.██║╚██████╔╝███████╗███████╗...██║...██║..██║
//  ..╚═══╝..╚═╝.╚═════╝.╚══════╝╚══════╝...╚═╝...╚═╝..╚═╝
//  ......................................................

.violeta {
  @include plantilla;
}

.tio-john {
  @include cartas;
}

.leidy {
  @include cartas;
}

.bebe {
  @include cartas;
}

.images {
  width: 100%;
  &__1 {
    width: 100%;
  }
  &__2 {
    width: 100%;
  }
}